.b, body{
    background-image: url('./image.png');
    background-position: center fixed;
    background-size: cover; 
    background-repeat: no-repeat; 
    width: auto;
    height: auto;
    filter: brightness(90%);
}  

.blink_text {
animation-name: blinker;
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes blinker {  
0% { opacity: 1.0; }
50% { opacity: 0.0; }
100% { opacity: 1.0; }
}
