<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="../Assets/css/partners.css">
<title>Jeekle</title>
</head>
<body>
    <div class="container-fluid">
        <img src="../Assets/css/error.png" width="100%" height="350px" alt="">
        <h1 class="text-center text-white mb-3"><%= error %></h1>
        <div class="text-center">
            <button class="btn btn-primary" id= "backbtn">BACK TO MAIN</button>
        </div>
        
    </div>
    <script>
        var backbtn = document.getElementById('backbtn');
        backbtn.addEventListener('click', (e) => {
            location.replace('/');
        })
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>