<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="../Assets/css/partners.css">
		<title>Title</title>
	</head>
	<body>
		<style>
			/* .faq-section {
				min-height: 100vh;
				padding: 10vh 0 0;
			} */
			.faq-title h2 {
				position: relative;
				/* margin-bottom: 45px; */
				display: inline-block;
				font-weight: 600;
				line-height: 1;
			}
			.faq-title h2::before {
				content: "";
				position: absolute;
				left: 50%;
				width: 60px;
				height: 2px;
				background: #e91e63;
				bottom: -25px;
				margin-left: -30px;
			}
			.faq-title p {
				padding: 0 190px;
				margin-bottom: 10px;
			}

			.faq {
				background: #ffffff;
				box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
				border-radius: 4px;
			}

			.faq .card {
				border: none;
				background: none;
				border-bottom: 1px dashed #cee1f8;
			}

			.faq .card .card-header {
				padding: 0px;
				border: none;
				background: none;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
			}

			.faq .card .card-header:hover {
				background: rgba(233, 30, 99, 0.1);
				padding-left: 10px;
			}
			.faq .card .card-header .faq-title {
				width: 100%;
				text-align: left;
				padding: 0px;
				padding-left: 30px;
				padding-right: 30px;
				font-weight: 400;
				font-size: 15px;
				letter-spacing: 1px;
				color: #3b566e;
				text-decoration: none !important;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				cursor: pointer;
				padding-top: 20px;
				padding-bottom: 20px;
			}

			.faq .card .card-header .faq-title .badge {
				display: inline-block;
				width: 20px;
				height: 20px;
				line-height: 14px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				border-radius: 100px;
				text-align: center;
				background: #e91e63;
				color: #fff;
				font-size: 12px;
				margin-right: 20px;
			}

			.faq .card .card-body {
				padding: 30px;
				padding-left: 35px;
				padding-bottom: 16px;
				font-weight: 400;
				font-size: 16px;
				color: #6f8ba4;
				line-height: 28px;
				letter-spacing: 1px;
				border-top: 1px solid #f3f8ff;
			}

			/* .faq .card .card-body p {
				margin-bottom: 14px;
			} */

			@media (max-width: 991px) {
				.faq {
					margin-bottom: 30px;
				}
				.faq .card .card-header .faq-title {
					line-height: 26px;
					margin-top: 10px;
				}
			}
		</style>
		<div class="container-fluid b" style="min-height: 100vh; min-width: 100vh" >
			<nav class="navbar navbar-light bg-transparent shadow-lg justify-content-between">
				<a class="navbar-brand" href="/">
				  <img src="../Assets/css/1.png" width="170" height="140" alt="">
				</a>
				<div class="">
				  <a href="/adminlogin">
					<button class="btn btn-default rounded-pill text-white pl-4 pr-4" style="background-color: #21831e; font-size:1.2rem;">
					  Admin
					</button>
				  </a>
					<a href="/faq">
					<button class="btn btn-default rounded-pill text-white pl-4 pr-4" style="background-color: #21831e; font-size:1.2rem;">
					  FAQ
					</button>
				  </a>
				</div>
				
			  </nav>
			<section class="faq-section">
				<div class="">
					<div class="row">
						<!-- ***** FAQ Start ***** -->
						<div class="col-md-6 offset-md-3">
							<div class="faq-title text-center pb-3">
								<h2 class="text-white font-weight-bold mt-2">FAQ</h2>
							</div>
						</div>
						<div class="col-md-6 offset-md-3">
							<div class="faq" id="accordion">
								<div class="card">
									<div class="card-header" id="faqHeading-1">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-1"
												data-aria-expanded="true"
												data-aria-controls="faqCollapse-1"
											>
												<span class="badge">1</span>Was ist Xeem?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-1"
										class="collapse"
										aria-labelledby="faqHeading-1"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Xeem ist eine Online-Plattform, welche Unternehmen und junge Erwachsene durch kurze Online-Challenges zusammenbringt und dabei Innovationen fördert. Anhand praxisnaher Problemstellungen und Aufgaben entwickeln interdisziplinäre Teams Lösungsansätze, Impulse und Ideen über einen Video-Call. Und das innerhalb von nur zwei Stunden. Dabei entsteht nicht nur die Chance auf großartige Kontakte, sondern auch auf ein Preisgeld sowie ein Zertifikat.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-2">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-2"
												data-aria-expanded="false"
												data-aria-controls="faqCollapse-2"
											>
												<span class="badge">2</span> Kostet mich die Teilnahme etwas?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-2"
										class="collapse"
										aria-labelledby="faqHeading-2"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Die Teilnahme ist für dich 100% kostenlos!
Du hast sogar die Chance auf großartige Geld- und Sachpreise. Das Gewinnerteam wird ebenfalls durch ein Zertifikat prämiert.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-3">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-3"
												data-aria-expanded="false"
												data-aria-controls="faqCollapse-3"
											>
												<span class="badge">3</span>Gibt es Teilnahmebedingungen?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-3"
										class="collapse"
										aria-labelledby="faqHeading-3"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Für eine Teilnahme an der Challenge musst Du mind. 18 Jahre alt sein. Ansonsten gilt: Challenges sind offen für alle jungen Erwachsenen, die ihr Potenzial nicht länger verstecken wollen. Dabei musst Du keine besondere Expertise oder Skills mitbringen. Vielmehr solltest Du offen sein und Lust haben, gemeinsam im Team an spannenden Ideen zu arbeiten.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-4">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-4"
												data-aria-expanded="false"
												data-aria-controls="faqCollapse-4"
											>
												<span class="badge">4</span> Wie kann ich teilnehmen?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-4"
										class="collapse"
										aria-labelledby="faqHeading-4"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Um bei einer Challenge teilzunehmen, benötigst Du lediglich einen Laptop oder ein Smartphone mit Internetverbindung. Anschließend musst Du Dich einfach auf www.xeem.de/registrieren anmelden.
Nachdem Du in Deinem Profil einige Angaben zu Deiner Person und Deinen Fähigkeiten gemacht hast, kann es für Dich direkt mit den ersten Challenges losgehen. Hierfür gehst Du zur Challenge-Auswahl, bei der Du verschiedene Challenge-Beschreibungen anklicken und durchlesen kannst.
Wenn Dir eine Challenge gefällt und noch genügend freie Plätze vorhanden sind, so kannst Du auf den Button „Teilnehmen“ klicken, um offiziell bei einer Challenge mitzumachen. Nachdem Du ein Team im Warteraum gefunden hast, geht es auch schon direkt mit dem Video-Call los!
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-5">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-5"
												data-aria-expanded="false"
												data-aria-controls="faqCollapse-5"
											>
												<span class="badge">5</span> Wann findet eine Challenge statt?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-5"
										class="collapse"
										aria-labelledby="faqHeading-5"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Für die einzelnen Challenges gibt es feste Termine, an denen Du einfach von Zuhause oder einem beliebigen Ort aus teilnehmen kannst. Dabei kannst Du einem Team beitreten. Die Teams bestehen aus maximal vier Teilnehmern, die vorher nicht bekannt sind. Welche Wochentage das genau sind, erfährst Du entweder direkt, als Info bei der jeweiligen Challenge, oder in unserem Newsletter.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-6">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-6"
												data-aria-expanded="false"
												data-aria-controls="faqCollapse-6"
											>
												<span class="badge">6</span> Wie lange dauert eine Challenge?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-6"
										class="collapse"
										aria-labelledby="faqHeading-6"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Eine Challenge nimmt für Dich nicht mehr als zwei Stunden in Anspruch. Hierfür haben wir feste Zeiten und Tage definiert, an denen Du teilnehmen kannst und mit 2-3 Teammitgliedern zusammenkommst. Sobald die Challenge startet erhältst Du die genaue Aufgabenstellung und schon kann es mit dem gemeinsamen Brainstorming losgehen. Falls Ihr mit der Bearbeitung der Challenge schon früher fertig seid, dann könnt Ihr die Challenge durch den „Challenge beenden”- Button frühzeitig beenden. Sobald alle den Button gedrückt haben, wird Euer Ergebnis gespeichert.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-7">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-7"
												data-aria-expanded="false"
												data-aria-controls="faqCollapse-7"
											>
												<span class="badge">7</span> Was kann ich gewinnen?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-7"
										class="collapse"
										aria-labelledby="faqHeading-7"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Zum einen hast Du die Chance auf den Kontakt zu Unternehmen und als Talent oder neuer Mitarbeiter entdeckt zu werden. Außerdem erhält das Gewinnerteam mit der besten Idee, welche vom Unternehmen ausgewählt wird, großartige Sach- oder Geldpreise. Die Art und der Umfang der Preise werden von dem jeweiligen Veranstalter der Challenge festgelegt. Sollten sich in Deinem Team weniger als vier Teilnehmer befinden, so wird ein Geldpreis gleichermaßen auf die Teamanzahl aufgeteilt. Darüber hinaus werden die Gewinner durch ein Zertifikat prämiert.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-8">
										<div class="mb-0">
											<h5
												class="faq-title"
												data-toggle="collapse"
												data-target="#faqCollapse-8"
												data-aria-expanded="false"
												data-aria-controls="faqCollapse-8"
											>
												<span class="badge">8</span> Wie wird das Gewinner-Team ausgewählt?
											</h5>
										</div>
									</div>
									<div
										id="faqCollapse-8"
										class="collapse"
										aria-labelledby="faqHeading-8"
										data-parent="#accordion"
									>
										<div class="card-body">
											<p>
												Zum einen hast Du die Chance auf den Kontakt zu Unternehmen und als Talent oder neuer Mitarbeiter entdeckt zu werden. Außerdem erhält das Gewinnerteam mit der besten Idee, welche vom Unternehmen ausgewählt wird, großartige Sach- oder Geldpreise. Die Art und der Umfang der Preise werden von dem jeweiligen Veranstalter der Challenge festgelegt. Sollten sich in Deinem Team weniger als vier Teilnehmer befinden, so wird ein Geldpreis gleichermaßen auf die Teamanzahl aufgeteilt. Darüber hinaus werden die Gewinner durch ein Zertifikat prämiert.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>
