<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/partners.css" />
		<title>Finish Page</title>

		<!-- Firebase Config Started -->
		<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
		<script>
			var firebaseConfig = {
				apiKey: "AIzaSyCvAgUMHk9BbEfj5sZIwzfcTEkhz4CVS0I",
				authDomain: "inkiproject-a7bce.firebaseapp.com",
				projectId: "inkiproject-a7bce",
				storageBucket: "inkiproject-a7bce.appspot.com",
				messagingSenderId: "628494551758",
				appId: "1:628494551758:web:36741c44fc42f6a3381e9f",
				measurementId: "G-KV8N11B1F4",
			};
			firebase.initializeApp(firebaseConfig);
			firebase.analytics();
		</script>

		<!-- Firebase Config Done -->
	</head>
	<body>
		<div class="b">
			<div>
				<div class="form-group">
					<label for="sel">Select Contest</label>
					<select class="form-control" id="contest" name="contest">
						<option>Select Contest </option>
						<% if(contest.length){ %>
						<% contest.forEach((con) => { %>
							<option id=`${con.contestname}`><%= con.contestname %></option>
						<% }) %>
						<% }%>
					</select>
				</div>
				<div>
					<button type="submit" id="contestid" class="btn btn-primary">Submit</button>
				</div> 
			</div>
			<div id="teamname" class="container card bg-transparent shadow-lg">
				<p id=""></p>
				<h2 id="headertag"></h2>
				<h3 id="contestname"></h3>
				<p id="paratag" class=""></p>
			</div>
		</div>
		

		<script>
			var contestidbtn = document.getElementById('contestid');
			contestidbtn.addEventListener('click', ( e ) => {
				var header = document.getElementById("headertag");
				var cnstnm = document.getElementById('contest').value;
				sessionStorage.setItem('contestname', cnstnm); 
			var para = document.getElementById("paratag");
			var contest = document.getElementById("contestname");
			var teamname = "";
			var contestname = "";
			var temphead = "";
			var temp = "";
			var count = 1;
			sessionStorage.removeItem("Winnerteamname");
			sessionStorage.removeItem("Winnercontent");
			firebase
				.database()
				.ref("/user/question")
				.on("value", function (snapshot) {
					snapshot.forEach((childSnapshot) => {
						if(contestname === sessionStorage.getItem('contestname')){
							teamname = childSnapshot.val().teamName;
						temphead = childSnapshot.val().questions;
						contestname = childSnapshot.val().ContestName;
						temp = childSnapshot.val().roomlink + "<br>";
						var ref = firebase.database().ref("/contest/" + contestname);

						var divcontainer = document.createElement("div");
						var divhr = document.createElement("hr");
						var btncontainer = document.createElement("button");
						divcontainer.id = `contest-${count}`;
						btncontainer.id = `btn-${count}`;
						btncontainer.className += "btn btn-default btn-primary";
						divcontainer.innerHTML = `
			                 ${teamname}
			                 Content: ${temphead}
			                 ContestName: ${contestname} `;
						btncontainer.innerHTML = "Make Team Winner";
						divhr.innerHTML = `<hr>`;
						divhr.style = "border:1px solid black";

						document.getElementById("teamname").appendChild(divcontainer);
						document.getElementById("teamname").appendChild(btncontainer);
						document.getElementById("teamname").appendChild(divhr);
						var winnerdiv = document.getElementById(`contest-${count}`);

						var winbtn = document.getElementById(`btn-${count}`);

						winbtn.addEventListener("click", (e) => {
							// alert('clicked ' + tempname);
							sessionStorage.setItem("Winnerteam", winnerdiv.innerHTML);
							ref.set({
								Winner: winnerdiv.innerHTML,
							});
							// location.replace('/');
						});
						count++;
						}
						
					});
				});
			})
			
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>
