<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> 
    <link rel="stylesheet" href="../assets/css/partners.css">      
</head>
<body>
    <style>
        label{
            color:white;
            font-size:1.2rem;
        }
    </style>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-transparent shadow-lg justify-content-between">
            <a class="navbar-brand" href="/">
              <img src="../assets/css/1.png" width="170" height="140" alt="">
            </a>
            <div class="">
              <a href="/Validation">
                <button class="btn btn-default rounded-pill text-white " style="background-color: #21831e; font-size:1.2rem;">Registration</button>
              </a>
              <a href="/adminlogin">
                <button class="btn btn-default rounded-pill text-white pl-4 pr-4" style="background-color: #21831e; font-size:1.2rem;">
                  Admin
                </button>
              </a>
                <a href="/faq">
                <button class="btn btn-default rounded-pill text-white pl-4 pr-4" style="background-color: #21831e; font-size:1.2rem;">
                  FAQ
                </button>
              </a>
            </div>
            
          </nav>
          <h1 class="text-center text-white font-weight-bold mt-3 mb-3">Register Here</h3>
          
    <div class="container register-form card bg-transparent p-3" style="border:1px solid black;width:50rem;">
        <div class="form">
            <div class="note">
            </div>
            <form action="/Validation" method="POST">
              <div class="form-group">
                <label for="sel">Select Contest</label>
                <select class="form-control" id="contest" name="contest">
                  <option>Select Contest </option>
                  <% if(contest.length){ %>
                    <% contest.forEach((con) => { %>
                     <option id=`${con.contestname}`><%= con.contestname %></option>
                    <% }) %>
                  <% }%>
                </select>
              </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                </div>
                <div class="form-group">
                  <label for="study">Age:</label>
                  <input type="number" placeholder="Enter Age" class="form-control" id="age" name="age">
              </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>